html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    --magic-mint: #a0eec0ff;
    --magic-mint-2: #8ae9c1ff;
    --pistachio: #86cd82ff;
    --forest-green-crayola: #72a276ff;
    --dim-gray: #666b6aff;
    font-family: 'Cabin', sans-serif;
    background: var(--forest-green-crayola);
    scroll-behavior: smooth;
    width: 100%;

}

.navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 70px;
    align-items: center;
    background: var(--forest-green-crayola);
    transition: height 0.25s ease-in-out;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 60px;
    z-index: 10;
}

.navbar a,
.navbar a:visited {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
}

.crimson-font {
    font-family: 'Crimson Pro', serif;
    letter-spacing: 0.3em;
}

.navbar a:hover {
    color: var(--magic-mint-2);
}

.page {
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
}

#home {
    display: grid;
    grid-template-columns: 60% 1fr;
    padding: 60px;
    box-sizing: border-box;
    place-items: center;
}

.name {
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.95)
}

.name>span {
    color: var(--magic-mint-2)
}


.nav-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.menu-icon {
    height: 30px;
    width: 30px;
    display: none;
    color: white;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}

.heading {
    color: white;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 600;
}

small {
    font-size: 0.1em;
    font-style: oblique;
    font-weight: 200;
    color:var(--magic-mint)
}

.crimson-font {
    font-family: 'Crimson Pro', serif;
    font-style: italic;
    font-weight: 800;
    text-transform: lowercase;
    font-size: 1em;
    letter-spacing: 0.3em;
}

.ide {

    position: absolute;
    display: block;
    border-radius: 10px;
    left: 100%;
    max-height: 80%;
    box-shadow: -2px 2px 7px 0px #00000047;
    top: 50%;
}

/* About page */

#about {
    background: rgba(245, 245, 245, 0.88);
    display: block;
}
.page-container {
    position: relative;
    width: 80%;
    height: 100vh;
    margin: 20px auto;
}
#about .page-container {
    display: grid;
    grid-template-columns: minmax(100px, 300px) 1fr;
    place-items: center;
}
.photo-frame {
    border-radius: 50%;
    width: 90%;
    border: 4px solid var(--forest-green-crayola);
    box-shadow: 0 0 18px 0px rgb(0 0 0 / 5%);
}
.about_text {
    max-width: 55ch;
    padding: 10px;
}

.about_text h2{
    font-weight: 600;
    font-family: 'Crimson Pro', serif;
} 
.about_text p {
    line-height: 1.4em;
}
#utils {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;

}
#utils img {
    filter: invert(58%) sepia(14%) saturate(857%) hue-rotate(75deg) brightness(99%) contrast(88%);
    width: 60%;
    opacity: 0.6;
    margin:0 auto;
    display: block;
}

/* Experience page */

#experience .page-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 500px;
    place-content: center;
    grid-gap: 20px;
}

.project_card {
    display: grid;
    background: white;
    border-radius: 10px;
    grid-template-rows: 150px 1fr;
    overflow: hidden;
}
.project_card_img {
    display: block;
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
}
.project_card_img img, .project_card_avatar img,
.project_card_img svg, .project_card_avatar svg{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* CSS */
a.button {

  background: var(--magic-mint);
  border-radius: 999px;
  box-shadow: var(--magic-mint) 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  place-self: center;
  display: block;
    margin: 0 auto;
    text-decoration: none;
}

.project_card_avatar {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border: 2px solid white;
    margin-top: -50px;
    border-radius: 50%;
    overflow: hidden;
}
.project_card_info {
    padding: 10px 20px;

}

.project_card_info h3 {
    text-align: center;
}
@media screen and (max-width: 1000px) {
    #about .page-container {
        display: grid;
        grid-template-rows: 200px 1fr;
        grid-template-columns: 1fr;
        place-items: center;
    }
    .photo-frame {
        position: relative;
        border-radius: 50%;
        width: 180px;
        border: 4px solid var(--forest-green-crayola);
        box-shadow: 0 0 18px 0px rgb(0 0 0 / 5%);
    }
    .heading {
        text-align: center;
    }

    .ide {
        display: none;
    }

    #home,#experience .page-container{ 
        grid-template-columns: 1fr;

    }

}

/* Phone screen */

@media screen and (max-width: 750px) {
    .navbar {
        grid-template-rows: 70px 1fr;
        grid-template-columns: 1fr;
        place-items: center;
        height: 70px;
        padding: 0px 5px;
    }

    .nav-link {
        opacity: 0;

    }


    .header-container {
        display: grid;
        grid-template-columns: 50px 1fr;
        place-items: center;
        width: 100%;
    }

    .navbar.open {
        height: 250px;
    }

    .menu-icon {

        display: block;
    }

    .nav-link {
        transition: color 0.1s ease-in-out, opacity 0.05s ease-out !important;

    }

    .navbar.open .nav-link {
        opacity: 1;
        transition: color 0.1s ease-in-out, opacity 0.4s ease-out !important;
    }

    .navbar.open .menu-icon {
        color: var(--pistachio)
    }

    .name {
        place-items: center;
        margin-left: -50px;
    }

    .nav-container {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}

/* Animations */
.slide-left {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(0%) translateY(-50%);
        transform: translateX(0%) translateY(-50%);
    }

    100% {
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(0%) translateY(-50%);
        transform: translateX(0%) translateY(-50%);
    }

    100% {
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
}
